body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
    font-size: 16px;
}
/* .hide-on-load {
    display: none;
} */

.topnav {
    background-color: white;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1em;
    /* color:#4CA1A3; */
}

.workout-display {
    margin: 2rem;
}

.card {
    /* text-align: center; */
    background-color: white;
    border-radius: 20px;
    /* border: grey solid 1px; */
    padding: 2rem;
    width: 20rem;
    /* height: 25rem; */
    display: inline-grid;
    margin: 1rem;
    /* box-shadow: 3px 4px black; */
}

.view-card {
    /* text-align: center; */
    /* border: grey solid 1px; */
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    width: 80%;
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    /* margin: 1rem 2rem; */
    margin: auto;
    /* box-shadow: 3px 4px black; */
}

/* .workout-view {
    
} */

.create-workout-form-div {
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1em;
}

.create-block-set-form {
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 1em;
}

.set-form-container {
    /* background-color: #EFEFEF; */
    /* padding: 1em; */
    /* margin-top: 1em; */
    padding-left: 1em;
    padding-right: 1em;
}

.set-form-block {
    padding-bottom: 1em;
    padding-top: 1em;
}

.add-existing-block-div {
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    /* height: 10rem; */
    padding:1em;
}

#workout-info-side {
    /* background-color: powderblue; */
    width: 40%;
}

#exercise-info-side {
    width: 60%;
}

.button-flex-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.edit-set-form {
    /* display: none; */
    height: 100%;
    width: 50%;
    margin: auto;
    /* width: 100%; */
    /* background-color: rosybrown; */
}

.exercise-display {
    /* display: none; */
    height: 100%;
    width: 80%;
    margin: auto;
    /* background-color: seagreen; */
}

.one-set {
    margin: 0.2em;
    padding: 1em;
    /* border-radius: 10px; */
    background-color:#EEEEEE;
    display: flex;
    justify-content: space-between;
}

.block-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-existing-block-form {
    width: 100%;
}

.create-block-set-form {
    width: 50%;
}

.mini-display {
    width: 50%;
    margin: auto;
}

.currently-viewing {
    background-color: black;
    color: white;
}

.currently-editing {
    background-color: lightyellow;
}

/* BUTTONS */
button {
    cursor: pointer;
}
input[type=submit] {
    background-color: black;
    cursor: pointer;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    margin-top: 0.5em;
}
.view-workout-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
}
#close-display {
    background-color: white;
    font-size: larger;
    border: none;
    color: #BD1616;
}
#begin-workout-button.mode-off {
    background-color: #4CA1A3;
    border: solid 2px;
    border-color: #4CA1A3;
    color: white;
    /* border: none; */
    border-radius: 10px;
    padding: 0.6rem;
}
#begin-workout-button.mode-on {
    background-color: white;
    border: solid 2px;
    border-color: #4CA1A3;
    color: #4CA1A3;
    border-radius: 10px;
    padding: 0.6rem;
    
}
.button-flex-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
#delete-workout-button {
    /* display: none; */
    margin-top: 1em;
}
.edit-set-button {
    background-color: #0A1931;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.5em;
    margin-right: 0.5em;
}
.delete-set-button {
    background-color: #8D2828;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}
.delete-block-button {
    background-color: white;
    border-color: #8D2828;
    border: solid 1px;
    color:#8D2828;
    border-radius: 5px;
    padding: 0.3em 0.5em;
}
#delete-workout-button {
    background-color: black;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
}
.start-timer {
    background-color: #5F7A61;
    color: white;
    padding: 0.7em 1em;
    border: none;
    border-radius: 5px;
}
.pause-timer {
    background-color: #47597E;
    color: white;
    padding: 0.7em 1em;
    border: none;
    border-radius: 5px;
}
.reset-timer {
    background-color: #8D2828;
    color: white;
    padding: 0.7em 1em;
    border: none;
    border-radius: 5px;
}
div#next-set-button > button {
    background-color: #E1E8EB;
    /* color: white; */
    padding: 0.7em 1em;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
}
#add-set {
    background-color: #47597E;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 0.7em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
}

/* INPUT FIELDS */
input[type=number], input[type=text], select {
    padding: 0.75em;
    margin: 0.5em;
    background-color: #F5F5F5;
    border: none;
    border-radius: 10px;
    display: block;

    width: 40%;
}
div.column > input, div.column > select {
    width:100%;
}

/* TIMERS */
div#rest-timer-div > div.timer-contents {
    background-color: white;
    border:2px solid #c9e3e3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}
#rest-timer {
    font-size: larger;
}
div#active-timer-div > div.timer-contents {
    background-color: white;
    border:2px solid #EFEFEF;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}
#active-timer {
    font-size: larger;
}

/* Below from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4CA1A3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4CA1A3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
