.workout-display {
    margin: 2rem;
}

.card {
    /* text-align: center; */
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    /* height: 25rem; */
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
}

.view-card {
    /* text-align: center; */
    border: grey solid 1px;
    padding: 1rem;
    width: 80%;
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    box-shadow: 3px 4px black;
}

.workout-view {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    /* height: 10rem; */
    padding:1em;
}

#workout-info-side {
    background-color: powderblue;
    width: 40%;
}

#exercise-info-side {
    width: 60%;
}

.button-flex-end {
    display: flex;
    justify-content: flex-end;
}

.edit-set-form {
    display: none;
    height: 100%;
    width: 50%;
    margin: auto;
    /* width: 100%; */
    /* background-color: rosybrown; */
}

.exercise-display {
    display: none;
    height: 100%;
    /* background-color: seagreen; */
}

.one-set {
    margin: 0.5em;
    padding: 0.5em;
    background-color:#FFD580;
    display: flex;
    justify-content: space-between;
}

.mode-off {
    background-color: lightgreen;
}

.mode-on {
    background-color: lightcoral;
}

.block-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete-workout-button {
    display: none;
    margin-top: 1em;
}

.add-existing-block-form {
    width: 50%;
}

.create-block-set-form {
    width: 50%;
}

.mini-display {
    width: 50%;
    margin: auto;
}

.currently-viewing {
    background-color: white;
}

.currently-editing {
    background-color: lightyellow;
}
